BasedOnStyle: LLVM
Language: C

IndentWidth: 8
TabWidth: 8
UseTab: Always

BreakBeforeBraces: Linux

AllowShortIfStatementsOnASingleLine: false
AllowShortLoopsOnASingleLine: false
AllowShortFunctionsOnASingleLine: None

PointerAlignment: Right
DerivePointerAlignment: false

SpaceBeforeParens: ControlStatements

IndentCaseLabels: false

ColumnLimit: 80

BinPackArguments: false
BinPackParameters: false

AlignAfterOpenBracket: DontAlign

KeepEmptyLinesAtTheStartOfBlocks: false

SortIncludes: false

BraceWrapping: AfterControlStatement: Always

AllowShortIfStatementsOnASingleLine: Never